
.Textbox{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    text-align: center;
    color: white;
   

}

.imgbox > img{
    height: 100%;
    width: 100%;
}