.productTheme{
    width:50%;
    min-width: 500px;
    height: auto;
    margin: 0 auto;
    padding : 1em;
    position: relative;
}
.productTheme>img{
    width: 612.50px;
    height: 612.50px;
    object-fit: cover;
    filter: invert(0.2);    
}

.productTheme>div{
    position: absolute;
    top:38%;
    left: 12%;
    text-align: center;
    color: #f7eee3;
    
}

.productTheme>div>span{
    font-size: 1.6em;
    font-weight: 600;
    color: #f7eee3;

}
.productTheme>div>p{
    font-size: 3em;
    font-weight: 900;
    color: #f7eee3;

}