.productList{
    width: 50%;
    min-width: 500px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content:space-around;
    
}

.product{
    max-width: 100%;
    width: 240px;
    height: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.productImg {
    width: 208px;
    height: 208px;
}

.productImg>img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.productDescription{/* 기준점으로 의미없이 채워논 css */
    font-size: 1em;

}
.productName{
    color:#333;
    font-size: 1.4em;
    font-weight: 400;
    padding: 1px;
}

.productPrice{
    color: #F25A29;
    font-size:1em;
    padding: 1px;
}
.reviewNumber{
    color:#383633;
    font-size:0.8em;
    padding:1px
}